/* Native */
* {
  margin: 0px 5px;
}
h1,
h2,
h3 {
  text-align: center;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-size: 5rem;
}
p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
img.selfie {
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Class */
.pink-mode {
  background-color: pink;
}
.container {
  position: relative;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.navbar-brand {
  position: sticky;
}
.socials {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.sticky {
  display: flex;
  position: sticky;
}
.headerAll {
  display: inline-flex;
  position: relative;
  margin: 1rem;
}

.aboutMeContainer p {
  position: relative;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  width: 500px;
  height: auto;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  z-index: 0;
}
.intro {
  width: 5rem;
  margin-left: 25%;
}
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
/* IDs */

#pro-selfie {
  position: relative;
  margin-left: 20%;
  z-index: 1;
}
#sbtn {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 15px;
}
