* h1,
h2,
h3 {
  text-align: center;
  color: black;
  font-family: monospace;
  font-size: 5rem;
}
p {
  text-align: center;
  font-family: cursive;
}
a {
  text-decoration: none;
}
li {
  text-decoration: none;
}

.pink-mode {
  background-color: pink;
}
.socials {
  text-decoration: none;
  position: absolute;
  display: inline-table;
  align-items: center;
  justify-content: center;
  padding-left: 35rem;
  padding-top: 30rem;
}
